@charset "utf-8";
@import "./reset.css";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

main {
    padding: 60px 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
.flex {
    display: flex;
}

header {
    background-color: darkslategray;
    color: white;
    justify-content: space-between;
    width: auto;
    height: 80px;
    line-height: 80px;
}

.title {
    font-weight: bold;
}

nav ul {
    list-style: none;
    gap: 20px;
    li a {
        font-style: none;
    }
}
<<<<<<< HEAD
=======
>>>>>>> 86ce870 (second paragraph added)
=======
.container {
    background-color: #ffffff;
    padding: 30px;
    width: 80%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}
p {
    margin-bottom: 15px;
    line-height: 1.6;
    padding: 10px;
    border-radius: 8px;
}

.item-1 {
    background-color: #ffeaa7;
    color: #2d3436;
}

.item-2 {
    background-color: #81ecec;
    color: #2d3436;
}
>>>>>>> e04cd3a (CSS properties added)
=======
.footer-links a {
      color: rgb(173, 182, 230);
      margin:  10px;
      text-decoration: none;
}

footer {
      background-color: #222;
      color: white;
      padding: 20px;
      text-align: center;
}
>>>>>>> a61d148 (add header in css)
