@charset "utf-8";
@import "./reset.css";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

main {
    padding: 60px 0;
}

<<<<<<< HEAD
.flex {
    display: flex;
}

header {
    background-color: darkslategray;
    color: white;
    justify-content: space-between;
    width: auto;
    height: 80px;
    line-height: 80px;
}

.title {
    font-weight: bold;
}

nav ul {
    list-style: none;
    gap: 20px;
    li a {
        font-style: none;
    }
}
=======
>>>>>>> 86ce870 (second paragraph added)
